// Place all the styles related to the series controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'fonts';
@import 'colors';

#show-title {
	font-family: $header-font;
	text-transform: uppercase; 
	font-size: 1.75em;
	margin-bottom: .5em;

	a:hover {
		text-decoration: underline; 
		color: $primary-color;
	}
}

#add-comic {
	display: flex; 
	justify-content: center;
	margin-top: 40px;
	width: 75%;

	button {
		text-transform: uppercase;
		font-family: $header-font;
		text-align: center;
		font-size: 1.5em;
		border-radius: 4px; 
	border: 1px solid $primary-color;  
	background-color: $secondary-color;
	width: 300px;
	}

	a:hover {
		text-decoration: none; 
		font-weight: bold;
	}
}

#show-comics {
	th {
		text-transform: uppercase;
		font-size: 1.25em;
		font-weight: bold;
		padding-left: .75em;
		padding-right: .75em;
	}

	tbody tr:hover {
  font-weight: bold;
	}

}

.comic-row {
	text-align: center;

	#row-title {
		word-wrap: break-word;
		width: 45%;
		text-align: left;
	}
}

#series-form {
	border: none;

	input#name-field {
		width: 75%;
	}
}