<div id="header-container">
	<h1 id="header"><%= link_to "Comics", series_index_path %></h1>

	<% if current_user %>
		<ul id="user-info">
			<li>Hi, <%= link_to current_user.name, current_user %>!</li>
			<% if current_user_admin? %>
				<li class="admin-only"><%= link_to "Add New User", new_user_path %></li>
			<% end %>
			<li><%= link_to "Sign Out", session_path, method: :delete %></li>
		</ul>
	<% end %>
</div>