<aside id="sidebar">
	<nav>
		<p id="sign-in-button"><%= link_to "Sign In!", '#' %></p>
		<ul>
			<li><%= link_to "All Series", series_index_path %></li>
			<li><%= link_to "Add New Series", new_series_path %></li>
		<%= content_for(:side) %>
		</ul>
	</nav>
</aside>